{% extends 'base.html' %}
{% load static %}

{% block canvas %}

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-dropbox waves-effect waves-light btn-animation" style="float: right" data-animation="zoomIn" data-toggle="modal" data-target="#worktypeModal">
                <i class="mdi mdi-plus"></i> New Work Type
            </button>
        </div>
    </div>

    <div class="row" style="margin-top: 1em">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <table id="worktype_table" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 60px"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for worktype in work_types %}
                            <tr>
                                <td>{{ worktype.name }}</td>
                                <td class="text-center">
                                    <a class="worktypeEdit" eid="{{ worktype.id }}" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a class="worktypeDelete" eid="{{ worktype.id }}" href="javascript:void(0);" role="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    No Work Types found in this company
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- Modal -->
    <div class="modal fade" id="worktypeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Work Type</h5>
                    <button type="button" class="close myclose" data-dismiss="modal" aria-label="Close">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="worktypeForm" action="" autocomplete="off">
                        <input type="hidden" id="formAction" name="action" value="add"/>
                        <input type="hidden" id="eid" name="eid" value=""/>

                        <div class="form-group row">
                            <label for="worktype_name" class="col-md-3 col-form-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control capitalize" id="worktype_name" name="worktype_name"/>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-dropbox waves-effect waves-light" id="btnWorkTypeAdd">
                                <i class="mdi mdi-check"></i> Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $(function() {

            // avoid js error when there are not elements in the table
            {% if work_types %}
                $('#worktype_table').DataTable();
            {% endif %}

            $("#btnWorkTypeAdd").click(function () {
                var form = $('#worktypeForm');

                // get data
                var data = form.serializeArray();
                var worktype_name = $("#worktype_name").val();
                var error = false;

                if(!worktype_name){error = "Please enter a work type";}

                if(error){
                    alert(error);
                }else{
                    $.ajax({
                        method: "POST",
                        url: "{% url 'work_types' %}",
                        data: data,
                        success: function (response) {
                            if (response.result === "ok") {
                                $("#worktypeModal").hide();
                                swal({
                                    title: 'Good Job!',
                                    text: response.message,
                                    type: 'success'
                                }).then(function () {
                                    location.reload();
                                });

                            }else{
                                swal({
                                    title: 'Oops',
                                    text: response.message,
                                    type: "error"
                                });
                            }
                        }
                    })
                }
            });

            $(".worktypeEdit").click(function () {
                var eid = $(this).attr('eid');
                var worktype_name = $("#worktype_name");
                var worktypeModal = $('#worktypeModal');

                if (eid){
                    $.ajax({
                        method: "GET",
                        url: "{% url 'work_types' %}",
                        data: {'action': 'get_work_type_data', 'eid': eid},
                        success: function (response) {
                            worktype_name.val(response.worktype_name);

                            $("#eid").val(eid);
                            $("#formAction").val('edit');
                            worktypeModal.modal("show");
                        }
                    })
                }
            });

            $(".worktypeDelete").click(function () {
                var eid = $(this).attr('eid');

                if (eid){
                    swal({
                        title: 'Delete Work Type',
                        text: "Are you sure you want to delete this work type?. <br/> You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-danger',
                        cancelButtonClass: 'btn btn-default m-l-10',
                        confirmButtonText: 'Yes, delete it!'
                    }).then(function () {

                        $.ajax({
                            method: "POST",
                            url: "{% url 'work_types' %}",
                            data: {'action': 'delete', 'eid': eid},
                            success: function (response) {
                                swal({
                                    title: 'Work Type Deleted!',
                                    text: response.message,
                                    type: 'success'
                                }).then(function () {
                                    location.reload();
                                });
                            }
                        });

                    });
                }
            });

        });
    </script>

{% endblock %}
